* {
    box-sizing: border-box;
}

body {
    background-color: #ccd86f;
    font-family: 'Nunito', sans-serif;
    font-size: 1.3vw;
}

fieldset>input,
fieldset>label,
fieldset>div,
textarea,
option {
    font-size: 1.15vw;
}

p {
    font-size: 1.5vw;
}

main,
header {
    border: 0.2vw solid #021c1e;
    background-color: mintcream;
    border-radius: 1vw;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 5vw;
}

fieldset {
    margin: 2.5vw 5vw;
    border: 0.1vw solid #021c1e;
    border-radius: 0.5vw;
}

form:first-child {
    margin-top: 4.5vw;
}

textarea {
    width: 100%;
}

#submit {
    font-size: 1.3vw;
    background-color: silver;
    border: 0.15vw solid green;
    border-radius: 0.2vw;
    width: 20vw;
    height: 2vw;
}

.center {
    display: flex;
    justify-content: center;
}

footer {
    margin-top: 4.5vw;
    display: flex;
    justify-content: center;
    font-size: 1vw;
}